<div class="container-welcome">
    <div class="title-welcome">Dünyayı Gezdiriyoruz!! Ticketx </div>
    <div class="subtitle-welcome">Yolculuğunuzu Şimdi Planlayın!</div>

    <div class="bus-images-welcome">
        <img src="https://novabus.com/wp-content/uploads/2023/05/nova-bus-lfsequebec-1431x954.jpg" alt="Bus Image 1" class="bus-image-welcome">
        <img src="https://uknow.uky.edu/sites/default/files/styles/uknow_story_image/public/Ride_Home_Express_bus.jpg" alt="Bus Image 2" class="bus-image-welcome">
        <img src="https://media.cnn.com/api/v1/images/stellar/prod/230324112233-01-worlds-longest-bus-journey-56-days-across-europe.jpg?c=original" alt="Bus Image 3" class="bus-image-welcome">
    </div>

    <a class="btn  btn-primary" asp-area="CustomerArea" asp-controller="Home" asp-action="Index">Yolculuğa Başla</a>
</div>