

<div class="container-succes">
    <div class="success-message">Ödeme Başarılı!</div>
    <div class="redirect-message-succes">
        Ödemeniz başarıyla gerçekleşmiştir. Teşekkür ederiz.
    </div>
    <div class="redirect-message-succes">

    </div>
</div>