@model List<User>

<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <!-- Diğer kullanıcı özellikleri eklenebilir -->
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
            </tr>
        }
    </tbody>
</table>